<!-- 登录 -->

<form name="forgetForm" ng-submit="$ctrl.submit(forgetForm)" class="mb15">
  <h3 class="text-center">忘记密码</h3>

  <div ng-cloak ng-if="$ctrl.way===2" class="form-group" ng-class="{
          'has-error':forgetForm.username.$invalid && forgetForm.username.$dirty,
          'has-success':forgetForm.username.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-person"></i></span>
      <input type="text" name="username" class="form-control" placeholder="用户名/邮箱/手机号码"
             ng-model="$ctrl.form.username" ng-required="true">
    </div>
  </div>

  <div class="form-group" ng-class="{
          'has-error':forgetForm.captcha.$invalid && forgetForm.captcha.$dirty,
          'has-success':forgetForm.captcha.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-lock"></i></span>
      <input type="text" name="captcha" class="form-control" placeholder="验证码"
             ng-model="$ctrl.form.captcha" ng-required="true" autocomplete="off" ng-minlength="4" ng-maxlength="10">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default"
                ng-disabled="$ctrl.isSending"
                ng-click="$ctrl.sendCaptcha()">{{$ctrl.sendCodeBtnText}}</button>
      </span>
    </div>
  </div>

  <div class="form-group" ng-class="{
          'has-error':forgetForm.password.$invalid && forgetForm.password.$dirty,
          'has-success':forgetForm.password.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-lock"></i></span>
      <input type="password" name="password" class="form-control" placeholder="密码"
             ng-model="$ctrl.form.password" ng-required="true">
    </div>
  </div>

  <div class="form-group" ng-class="{
          'has-error':forgetForm.confirmPassword.$invalid && forgetForm.confirmPassword.$dirty,
          'has-success':forgetForm.confirmPassword.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-lock"></i></span>
      <input type="password" name="confirmPassword" class="form-control" placeholder="确认密码"
             ng-model="$ctrl.form.confirmPassword" ng-required="true" at-compare="confirmPassword===password">
    </div>
  </div>

  <div class="login-submit">
    <button type="submit" class="btn btn-block btn-warning" ng-disabled="forgetForm.$invalid">提交</button>
  </div>

</form>