<!-- 登录 -->
<form name="loginForm" ng-submit="$ctrl.login(form)" class="mb15">
  <h4 class="text-center" style="margin-top: 5px;">登 陆</h4>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-contact"></i></span>
      <input type="text" name="username" class="form-control" placeholder="邮箱"
             ng-model="$ctrl.form.username" ng-required="true">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-lock"></i></span>
      <input type="password" name="password" class="form-control" placeholder="密码"
             ng-model="$ctrl.form.password" ng-required="true">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-list"></i></span>
      <input type="text" name="captcha" class="form-control login-code" placeholder="验证码"
             ng-model="$ctrl.form.$$captcha" ng-required="true" autocomplete="off">
      <div class="input-group-addon login-code-img" ng-clock ng-if="$ctrl.$$showCaptcha">
        <a href="javascript:void(0);" ng-click="$ctrl.refreshCaptcha()">
          <img class="img-responsive" alt="换一张？" ng-src="{{$ctrl.captchaImageUrl}}">
        </a>
      </div>
    </div>
  </div>

  <div class="login-submit">
    <button type="submit" class="btn btn-block btn-warning" ng-disabled="loginForm.$invalid">提交</button>
  </div>

</form>
<div class="row">
  <div class="col-xs-6"><a ui-sref="auth.forget">忘记密码？</a></div>
  <div class="col-xs-6 text-right"><a ui-sref="auth.register">免费注册</a></div>
</div>
