<!-- 登录 -->
<form name="loginForm" ng-submit="$ctrl.login(form)" class="mb15">
  <h3 class="text-center">登 陆</h3>

  <div class="form-group" ng-class="{
          'has-error':loginForm.username.$invalid && loginForm.username.$dirty,
          'has-success':loginForm.username.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-person"></i></span>
      <input type="text" name="username" class="form-control" placeholder="邮箱"
             ng-model="$ctrl.form.username" ng-required="true">
    </div>
  </div>

  <div class="form-group" ng-class="{
          'has-error':loginForm.password.$invalid && loginForm.password.$dirty,
          'has-success':loginForm.password.$valid
        }">
    <div class="input-group">
      <span class="input-group-addon"><i class="ion ion-android-lock"></i></span>
      <input type="password" name="password" class="form-control" placeholder="密码"
             ng-model="$ctrl.form.password" ng-required="true">
    </div>
  </div>

  <div class="form-group">
    <label>验证码</label>
    <input type="text" name="captcha" class="form-control login-code" placeholder="验证码"
           ng-model="$ctrl.form.$$captcha" ng-required="true" autocomplete="off">
    <div class="login-code-img" ng-clock ng-if="$ctrl.$$showCaptcha">
      <img class="img-responsive" style="max-height: 34px;display: inline-block" alt="刷新重试"
           ng-src="{{$ctrl.captchaImageUrl}}">
      <a href="javascript:void(0);" ng-click="$ctrl.refreshCaptcha()">换一张?</a>
    </div>
  </div>

  <div class="login-submit">
    <button type="submit" class="btn btn-block btn-warning" ng-disabled="loginForm.$invalid">提交</button>
  </div>

</form>
<div class="row">
  <div class="col-xs-6"><a>忘记密码？</a></div>
  <div class="col-xs-6 text-right"><a>免费注册</a></div>
</div>
