#fbc-banner{
  margin-top: -20px;
  .item{
    height: 400px;
  }
  .item1{
    background: url('../assets/images/banner1.png') center top ;
  }
  .item2{
    background: url('../assets/images/banner2.png') center top ;
  }
}

