<div class="panel panel-default">
  <div class="panel-body">
    <line-chart></line-chart>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <!--<trade-block type="0" data-trade="$ctrl.stockList[0]" wallets="$ctrl.wallets"/>-->
      </div>
      <div class="col-sm-6">
        <!--<trade-block type="1" data-trade="$ctrl.stockList[1]" wallets="$ctrl.wallets"/>-->
      </div>

      <div class="col-sm-6" ng-repeat="d in $ctrl.stockList">
        <trade-block trade="d" wallets="$ctrl.wallets"/>
      </div>

    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">最近成交记录</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>成交时间</th>
        <th>买/卖</th>
        <th>成交价</th>
        <th>成交量</th>
        <th>交易额</th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="d in $ctrl.latest">
        <td>{{d.created | date:'yyyy:MM:dd HH:mm:ss'}}</td>
        <td ng-switch="d.type">
          <span ng-switch-when="0" class="col-r">买入</span>
          <span ng-switch-when="1" class="col-g">卖出</span>
        </td>
        <td>${{d.price | number:3}}</td>
        <td>{{d.count}}</td>
        <td>${{d.price * d.count | number:3}}</td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
