<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        买入
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-4 control-label">最佳买价</label>
            <div class="col-sm-8">
              <p class="form-control-static">0.005 USD/FBC</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">买入价</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="此出价为1个币的价格">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">最大可买</label>
            <div class="col-sm-8">
              <p class="form-control-static">0.125 FBC</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-4 control-label">买入比例</label>
            <div class="col-sm-8">
              <p class="form-control-static">0.125 FBC</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-danger btn-block">买 入</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4">卖出</div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
