<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li class="active"><a>当前委托</a></li>
      <li><a>历史委托</a></li>
    </ul>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>委托时间</th>
        <th>类型</th>
        <th>委托价格</th>
        <th>委托数量</th>
        <th>剩余数量</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2016-11-12 14:12:14</td>
        <td>卖出</td>
        <td>$0.124</td>
        <td>45</td>
        <td>10</td>
        <td>未完成</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
