<div class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <div class="main-header">

      <!-- Logo -->
      <a ui-sref="admin.items({partial:'dash'})" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>FBC</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>FBC</b> 交易平台</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu">
              <!-- Menu toggle button -->
              <a href="javascript:void(0);" ng-click="vm.logout()"><i class="ion ion-log-out"></i> 登出</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li ng-repeat="d in vm.sideBarData track by $index" class="treeview" ng-class="{active:d.$$open}">
            <!--<a href="javascript:void(0);" ng-click="d.$$open=!d.$$open">-->
            <a href="javascript:void(0);" ng-click="vm.openTab(d)">
              <i class="ion" ng-class="[d.icon]"></i> <span>{{::d.title}}</span>
              <i class="ion pull-right" ng-class="{'ion-ios-arrow-up':d.$$open,'ion-ios-arrow-down':!d.$$open}"></i>
            </a>
            <ul class="treeview-menu menu-open">
              <li ng-repeat="d2 in d.data track by d2.title" ui-sref-active="active">
                <a ui-sref="admin.items({partial:d2.partial})">
                  <i class="ion"
                     ng-class="{'ion-android-radio-button-on':d2.$$active,'ion-android-radio-button-off':!d2.$$active}"></i>
                  {{::d2.title}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Page Header
          <small>Optional description</small>
        </h1>
        <!--面包屑-->
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
          <li class="active">Here</li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">

        <div ui-view="admin_items"></div>

      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <div class="main-footer">
      <!-- Default to the left -->
      <strong>Copyright &copy; 2016 <a href="#">FBC</a>.</strong> All rights reserved.
    </div>

  </div><!-- ./wrapper -->

</div>