<!-- 登录 -->
<div class="row">
  <div>
    <input type="button" class="btn" value="手机注册"
           ng-click="$ctrl.way='phone'" ng-class="{'btn-primary':$ctrl.way==='phone'}" >
    <input type="button" class="btn" value="邮箱注册"
           ng-click="$ctrl.way='email'" ng-class="{'btn-primary':$ctrl.way==='email'}">
  </div>
  <form name="registerForm" ng-submit="$ctrl.register(registerForm)">

    <div ng-cloak ng-if="$ctrl.way==='email'" class="form-group" ng-class="{
          'has-error':registerForm.email.$invalid && registerForm.email.$dirty,
          'has-success':registerForm.email.$valid
        }">
      <label>邮箱</label>
      <input type="email" name="email" class="form-control" placeholder="请输入邮箱"
             ng-model="$ctrl.form.email" ng-required="true" ng-pattern="$ctrl.emailReg">
      <div ng-cloak ng-if="registerForm.email.$invalid && registerForm.email.$dirty">
        <p class="help-block" ng-cloak ng-if="registerForm.email.$error.pattern">
          请输入正确的邮箱
        </p>
      </div>
    </div>

    <div ng-cloak ng-if="$ctrl.way==='phone'" class="form-group" ng-class="{
          'has-error':registerForm.phone.$invalid && registerForm.phone.$dirty,
          'has-success':registerForm.phone.$valid
        }">
      <label>手机号码</label>
      <input type="text" name="phone" class="form-control" placeholder="手机号"
             ng-model="$ctrl.form.phone" ng-required="true" ng-pattern="$ctrl.telReg">
      <div ng-cloak ng-if="registerForm.phone.$invalid && registerForm.phone.$dirty">
        <p class="help-block" ng-cloak ng-if="registerForm.phone.$error.pattern">
          请输入11位的手机号
        </p>
      </div>
    </div>

    <div class="form-group" ng-class="{
          'has-error':registerForm.password.$invalid && registerForm.password.$dirty,
          'has-success':registerForm.password.$valid
        }">
      <label>密码</label>
      <input type="password" name="password" class="form-control" placeholder="输入密码"
             ng-model="$ctrl.form.password" ng-required="true">
    </div>

    <div class="form-group" ng-class="{
          'has-error':registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty,
          'has-success':registerForm.confirmPassword.$valid
        }">
      <label>确认密码</label>
      <input type="password" name="confirmPassword" class="form-control" placeholder="输入密码"
             ng-model="$ctrl.form.confirmPassword" ng-required="true" at-compare="confirmPassword===password">
      <div ng-cloak ng-if="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty">
        <p class="help-block" ng-cloak ng-if="registerForm.confirmPassword.$error['confirmPassword===password']">
          两次密码不一致
        </p>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-block" ng-disabled="registerForm.$invalid">提交</button>
    </div>

  </form>
</div>
