<div class="input-group">
  <input ng-model="$ctrl.date.date"
         date-time format="YYYY-MM-DD"
         min-view="date"
         view="data"
         max-view="date"
         timezone="Asia/Hong_Kong"
         placeholder="日期"
         ng-readonly="true"
         ng-change="$ctrl.updateDate()"
         class="form-control date-input">
  <input type="text" name="dateDefault" ng-model="$ctrl.date.hours"
         mask="29"
         class="form-control time-input"
         restrict="reject" clean="true"
         ng-change="$ctrl.updateDate()"
         autocomplete="off"
         ng-value="00">
  <span class="input-group-addon">:</span>
  <input type="text" name="dateDefault" ng-model="$ctrl.date.min"
         mask="59"
         class="form-control time-input"
         restrict="reject" clean="true"
         ng-change="$ctrl.updateDate()"
         autocomplete="off"
         ng-value="00">
  <span class="input-group-addon">:</span>
  <input type="text" name="dateDefault" ng-model="$ctrl.date.sec"
         mask="59"
         class="form-control time-input"
         restrict="reject" clean="true"
         ng-change="$ctrl.updateDate()"
         autocomplete="off"
         ng-value="00">
</div>
