//后台时间选择器
.form-inline .input-group .time-input{
  width: 31px;
  padding: 6px;
  text-align: center;
}
.form-inline .input-group .date-input{
  width: 100px;
}
.date-picker-date-time{
  border: 1px solid #ddd;
  border-radius: 0;
}
