<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">系统登陆控制</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td><label>系统维护</label></td>
        <td>
          <div class="form-inline">
            是否关闭前台
            <select class="form-control">
              <option>关闭</option>
              <option>开启</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-inline">
            关闭时显示 <textarea class="form-control" rows="3"></textarea>
          </div>
        </td>
      </tr>
      <tr>
        <td><label>常规控制维护开关</label></td>
        <td>
          <div class="form-inline">
            是否启用
            <select class="form-control">
              <option>停用</option>
              <option>启用</option>
            </select>
          </div>
        </td>
        <td>
          <div class="form-inline">
            关闭时间： <input type="text" class="form-control">
            开启时间： <input type="text" class="form-control">
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <button type="submit" class="btn btn-primary">确定</button>
          <button type="submit" class="btn btn-default">重置参数</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
