<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">统计数据</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered table-hover">
          <tbody>
          <tr>
            <td>当前系统用户：XXX位</td>
            <td>已激活：XXX位</td>
            <td>未激活：XXX位</td>
          </tr>
          <tr>
            <td>所有用户所持 美金：XXX$</td>
            <td>FBC：XXX枚</td>
            <td></td>
          </tr>
          <tr>
            <td>公司总卖出FBC：XXXX枚</td>
            <td>总回购FBC：XXXX枚</td>
            <td></td>
          </tr>
          <tr>
            <td>今日公司释放FBC：XXX枚</td>
            <td>当前已卖出FBC：XXX枚</td>
            <td>还剩FBC：XXX枚</td>
          </tr>
          <tr>
            <td>当前正在卖出的FBC：XXXXX</td>
            <td>需：$XXX收购</td>
            <td></td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
</div>

