<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">正在卖出的记录</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-10">
        <form class="form-inline form-search mb10">
          <div class="form-group">
            <label>卖出方</label>
            <input type="text" class="form-control">
          </div>
          <span class="serach-space"></span>
          <div class="form-group">
            <label>时间</label>
            <date-pick date="vm.date"></date-pick>
            <lable>-</lable>
            <date-pick date="vm.date"></date-pick>
          </div>
          <span class="serach-space"></span>
          <button type="submit" class="btn btn-default">筛选</button>
        </form>
      </div>
      <div class="col-sm-2 text-right">
        <button class="btn btn-warning">回购</button>
      </div>
    </div>
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>卖出方</th>
        <th>FBC数量</th>
        <th>卖出价格</th>
        <th>成交金额</th>
        <th>支付方式</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>531999999999</td>
        <td>200</td>
        <td>10.000</td>
        <td>2000.000</td>
        <td>USD</td>
        <td>2016-11-11 11:11:00</td>
        <td>
          <button class="btn btn-primary">成交</button>
          <button class="btn btn-default">取消</button>
        </td>
      </tr>
      </tbody>
    </table>

    <!--翻页-->
    <div class="row">
      <div class="col-sm-5">
        <div class="dataTables_info">共57个结果，正在显示1至10个。
        </div>
      </div>
      <div class="col-sm-7">
        <div class="dataTables_paginate">
          <ul class="pagination">
            <li>
              <a aria-label="Previous">
                <span aria-hidden="true">上一页</span>
              </a>
            </li>
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li>
              <a aria-label="Next">
                <span aria-hidden="true">下一页</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
