.guide-ul{
  list-style: none;
  padding-left: 0;
}
.guide-li{
  a{
    border: 1px solid #ddd;
    display: block;
    padding: 8px 12px;
    color: #333;
    position: relative;
    background-color: #f4f4f4;
    margin-bottom: 10px;
    .guide-btn{
      display: none;
      position: absolute;
      right: -1px;
      top: -1px;
    }
    &:hover{
      background-color: #fff;
      .guide-btn{
        display: block;
      }
    }
  }
  button{
    margin-bottom: 10px;
  }
  ul{
    list-style: none;
  }
}
.btn-box-tool.active{
  background-color: #00c0ef;
  color: #fff;
  box-shadow: none;
}
