<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">已激活用户</h3>
  </div>

  <div class="box-body">
    <table class="table table-bordered">
      <thead><tr>
        <th>用户编号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>美金账户</th>
        <th>FBC货币帐户</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>531999999999</td>
        <td>张三</td>
        <td>admin@admin.com</td>
        <td>200.000</td>
        <td>100.000</td>
        <td>2016-11-11:11:00</td>
        <td><button class="btn btn-primary">修改资料</button> <button class="btn btn-default">关闭登陆</button></td>
      </tr>
      </tbody></table>
  </div>
</div>
