<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">流水明细</h3>
  </div>
  <div class="box-body">
    <form class="form-inline form-search mb10">
      <div class="form-group">
        <label>会员编号</label>
        <input type="text" class="form-control">
      </div>
      <span class="serach-space"></span>
      <div class="form-group">
        <label>类别</label>
        <select class="form-control">
          <option>全部类别</option>
          <option>入账</option>
          <option>出帐</option>
        </select>
      </div>
      <span class="serach-space"></span>
      <div class="form-group"><label>时间</label>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-addon">-</span>
          <input type="text" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-default">筛选</button>
    </form>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>会员编号</th>
        <th>来自</th>
        <th>金额</th>
        <th>当前余额</th>
        <th>类别</th>
        <th>时间</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>531999999999</td>
        <td>某某某用户</td>
        <td>200.000</td>
        <td>200.000</td>
        <td>入账</td>
        <td>2016-11-11:11:00</td>
      </tr>
      </tbody>
    </table>

    <!--翻页-->
    <div class="row">
      <div class="col-sm-5">
        <div class="dataTables_info">共57个结果，正在显示1至10个。
        </div>
      </div>
      <div class="col-sm-7">
        <div class="dataTables_paginate">
          <ul class="pagination">
            <li>
              <a aria-label="Previous">
                <span aria-hidden="true">上一页</span>
              </a>
            </li>
            <li class="active"><a>1</a></li>
            <li><a>2</a></li>
            <li><a>3</a></li>
            <li>
              <a aria-label="Next">
                <span aria-hidden="true">下一页</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
