<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title"><span>{{$ctrl.state==='active' ? '已激活用户' : '未激活的用户'}}</span></h3>
  </div>

  <div class="box-body">
    <form class="form-inline form-search mb10">
      <div class="form-group">
        <label>用户编号</label>
        <input type="text" class="form-control">
      </div>
      <span class="serach-space"></span>
      <div class="form-group"><label>注册时间</label>
        <div class="input-group">
          <input type="date" class="form-control">
          <span class="input-group-addon">-</span>
          <input type="date" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-default">筛选</button>
    </form>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>用户编号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th ng-clock ng-if="$ctrl.state==='active'">美金账户</th>
        <th ng-clock ng-if="$ctrl.state==='active'">FBC货币帐户</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>

      <tr ng-repeat="d in $ctrl.userList">
        <td>{{d.user.username}}</td>
        <td>{{d.user.nickname}}</td>
        <td>{{d.user.email}}</td>
        <td ng-clock ng-if="$ctrl.state==='active'">200.000</td>
        <td ng-clock ng-if="$ctrl.state==='active'">100.000</td>
        <td>{{d.user.created}}</td>
        <td>
          <div ng-clock ng-if="$ctrl.state==='active'">
            <button class="btn btn-primary">修改资料</button>
            <button class="btn btn-default">关闭登陆</button>
          </div>
          <div ng-clock ng-if="$ctrl.state!=='active'">
            <button class="btn btn-primary">激活</button>
            <button class="btn btn-default">删除</button>
          </div>
        </td>
      </tr>

      </tbody>
    </table>
    <!--翻页-->
    <div class="row">
      <div class="col-sm-5">
        <div class="dataTables_info">
          共 <span>{{$ctrl.userListMeta.total}}</span> 个结果，正在显示
          <span>{{$ctrl.userListMeta.skip + $ctrl.userListMeta.limit * $ctrl.userListMeta.page}}</span>
          至
          <span>{{$ctrl.userListMeta.limit * ($ctrl.userListMeta.page+1)}}</span>
          个。
        </div>
      </div>
      <div class="col-sm-7">
        <div class="dataTables_paginate">
          <!--<ul class="pagination">-->
            <!--<li>-->
              <!--<a aria-label="Previous">-->
                <!--<span aria-hidden="true">上一页</span>-->
              <!--</a>-->
            <!--</li>-->
            <!--<li class="active"><a>1</a></li>-->
            <!--<li><a>2</a></li>-->
            <!--<li><a>3</a></li>-->
            <!--<li>-->
              <!--<a aria-label="Next">-->
                <!--<span aria-hidden="true">下一页</span>-->
              <!--</a>-->
            <!--</li>-->
          <!--</ul>-->
          <pagination meta="$ctrl.userListMeta"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
