<div>
  <p class="mt20">您正在使用的账号为：</p>
  <h4>{{$ctrl.lwUser.profile.nickname}}</h4>
  <p>USD余额：200.000</p>
  <p>FBC余额：100.000</p>
  <div class="row">
    <div class="col-xs-6">
      <a ui-sref="finances.items({partial:'recharge'})" class="btn btn-block btn-default">充值</a>
    </div>
    <div class="col-xs-6">
      <a ui-sref="finances.items({partial:'withdrawals'})" class="btn btn-block btn-default">提现</a>
    </div>
    <div class="col-xs-12 mt15">
      <a ui-sref="trade.items({partial:'deal'})" class="btn btn-block btn-warning">交易中心</a>
    </div>
  </div>
</div>
