.safe-ion{
  font-size: 40px;
  color: #777;
}
.safe-p{
  color: #777;
}
.alert{
  h4{
    font-size: 24px;
    font-weight: 100;
    margin-top: 15px;
  }
  i{
    font-size: 80px;
  }
}
//展出框
.setting-add{
  h3{
    font-size: 20px;
  }
}
