<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <td>UID</td>
        <td colspan="2">4530084</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>账户名</td>
        <td colspan="2">admin@admin.com</td>
      </tr>
      <tr>
        <td>登录密码</td>
        <td colspan="2"><a class="btn btn-default">重置</a></td>
      </tr>
      <tr>
        <td>昵称</td>
        <td><input type="text" class="form-control"></td>
        <td><a class="btn btn-default">保存</a></td>
      </tr>
      <tr>
        <td>推广链接</td>
        <td>http://www.xnbzg.com/?r=11977</td>
        <td><a class="btn btn-default">复制</a></td>
      </tr>
      <tr>
        <td>实名认证</td>
        <td colspan="2">姓名：李保存<br>证件类型：身份证<br>证件号码：41132************</td>
      </tr>
      <tr>
        <td>上次登录时间</td>
        <td colspan="2">2016-04-22 18:33:47</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
