<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <td>UID</td>
        <td colspan="2">{{$ctrl.profile.username}}</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>账户名</td>
        <td colspan="2">{{$ctrl.profile.emailSafe}}</td>
      </tr>
      <tr>
        <td>昵称</td>
        <td><input type="text" class="form-control" ng-value="$ctrl.profile.nickname"></td>
        <td><a class="btn btn-default">保存</a></td>
      </tr>
      <tr>
        <td>推广链接</td>
        <td>http://www.xnbzg.com/?r=11977</td>
        <td><a class="btn btn-default">复制</a></td>
      </tr>
      <tr>
        <td>实名认证</td>
        <td colspan="2">姓名：李保存<br>证件类型：身份证<br>证件号码：41132************</td>
      </tr>
      <tr>
        <td>上次登录时间</td>
        <td colspan="2">{{$ctrl.profile.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
