<div class="box box-primary hand-setting">
  <div class="box-header with-border">
    <h3 class="box-title">手动设置</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" slide data-target=".hand-setting .slide-box" data-status="false"
              data-extend-class="ion-minus-round"
              data-hide-class="ion-plus-round">
        <i class="ion"></i>
      </button>
    </div>
  </div>
  <div class="box-body slide-box">
    <form class="form-horizontal" ng-submit="$ctrl.addTrade($ctrl.hand)">
      <div class="form-group">
        <label class="col-sm-2 control-label">交易类型</label>
        <div class="col-sm-3 radio">
          <label>
            <input type="radio" name="type" ng-model="$ctrl.hand.type" value="0">买
          </label>
          <label>
            <input type="radio" name="type" ng-model="$ctrl.hand.type" value="1">卖
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">交易币种</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="$ctrl.hand.currency">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">单价</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" ng-model="$ctrl.hand.price">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">起始时间</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" ng-model="$ctrl.hand.start">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">终止时间</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" ng-model="$ctrl.hand.finish">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">挂出买卖</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">参数设置</h3>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td><label>FBC比率</label></td>
        <td>
          <div class="form-inline">
            当前 1FBC= <input type="text" class="form-control" ng-model="$ctrl.form.ex[0].rate"> USD
          </div>
        </td>
        <td>
          <div class="form-inline">
            FBC每天上涨 <input type="text" class="form-control"> %
          </div>
        </td>
      </tr>
      <tr>
        <td><label>FBC释放</label></td>
        <td>
          <div class="form-inline">
            每天释放 <input type="text" class="form-control"> 枚FBC
          </div>
        </td>
        <td>
          <label>分段释放：</label>
          <table class="table table-bordered">
            <tbody>
            <tr>
              <td>
                <div class="form-inline">
                  时间 <input type="text" class="form-control">
                </div>
              </td>
              <td>
                <div class="form-inline">
                  比例 <input type="text" class="form-control">
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <button class="btn btn-default">添加时间段</button>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td><label>FBC回购</label></td>
        <td colspan="2">
          <div class="form-inline">
            每日系统回购 <input type="text" class="form-control"> 枚FBC
          </div>
        </td>
      </tr>
      <tr>
        <td><label>挂单卖出</label></td>
        <td>
          <div class="form-inline">
            每笔不超过 <input type="text" class="form-control"> 枚FBC
          </div>
        </td>
        <td>
          <div class="form-inline">
            每日不超过 <input type="text" class="form-control"> 次
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          <button type="submit" class="btn btn-primary" ng-click="$ctrl.submit($ctrl.form)">确定</button>
          <button type="submit" class="btn btn-default">重置参数</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

