<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">美元充值</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">金额</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="Price">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">交易密码</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">短信验证码</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" placeholder="Code">
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-default">发送验证码</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-warning">确定提现</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">充值记录</h3></div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>时间</th>
        <th>方式</th>
        <th>账户</th>
        <th>金额</th>
        <th>手续费</th>
        <th>状态</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2016-03-20 12:41:39</td>
        <td>银行卡</td>
        <td>银行: 工商银行
          <br>姓名: 李保存
          <br>卡号: 6222 0840 0000 2808 486</td>
        <td>$4135.23</td>
        <td>$41.77</td>
        <td>成功/待发放/否决</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
