<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">个人财务</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>货币名称</th>
        <th>可用数量</th>
        <th>冻结数量</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>USD</td>
        <td>4135.230</td>
        <td>41.770</td>
        <td class="text-right"><a class="btn btn-info">提现</a> <a class="btn btn-warning">充值</a> <a class="btn btn-danger">转账</a></td>
      </tr>
      <tr>
        <td>FBC</td>
        <td>4135.230</td>
        <td>41.770</td>
        <td class="text-right"><a class="btn btn-danger">转账</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">账户明细</h3>
  </div>
  <div class="panel-body">
    <div class="search-tag">
      <div class="search-tag-li">日期时间：<a class="tag">今天</a> <a class="tag active">7天</a> <a class="tag">15天</a> <a class="tag">30天</a></div>
      <div class="search-tag-li">货币类型：<a class="tag active">USD</a> <a class="tag">FBC</a></div>
      <div class="search-tag-li">操作类型：<a class="tag active">全部</a> <a class="tag">充值</a>  <a class="tag">提现</a>  <a class="tag">转账</a></div>
    </div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>时间</th>
        <th>货币</th>
        <th>类型</th>
        <th>备注</th>
        <th>数量</th>
        <th>余额</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2016-03-20 12:41:39</td>
        <td>USD</td>
        <td>充值</td>
        <td>雷达充值</td>
        <td>-41.778</td>
        <td>41.778</td>
      </tr>
      <tr>
        <td>2016-03-20 12:41:39</td>
        <td>USD</td>
        <td>转账</td>
        <td>转给admin</td>
        <td>-41.778</td>
        <td>41.778</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
